.profile{
    &__container{
        display: flex;
        align-items: center;
    }
    &__name{
        padding: 10px;
        cursor: pointer;
    }
    &__name:hover{
        color: white;
    }
}