
.container{
    max-width: 1220px;
    margin: 0 auto;
}

.add-notice{
    &__top{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }
    &__btn {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: none;
        background-color: #C6D8FF;
        box-shadow: 0px 1px 10px rgba(2 37 201/ 0.2);
        transition: transform 0.2s ease-out;
        z-index: 10;
        cursor: pointer;
    }

    &__btn:hover {
        transform: scale(1.1);
    }
    
    &__btn:active {
        transform: scale(1);
    }
    
    &__btn::before {
        content: '';
        color: #f7f7f7;
        font-weight: 400;
        font-size: 12px;
    }

    &__wave-wrap {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__wave {
        position: absolute;
        width: 200px;
        height: 200px;
        border: 10px solid #f7f7f7;
        border-radius: 50%;
        filter: blur(3px);
        box-shadow: inset 6px 6px 15px
        rgba(2 37 201/ 1),
        6px 6px 15px
        rgba(2 37 201/ 1),
        inset calc(6px * -1) calc(6px * -1)
        15px rgba(2 37 201/ 0.2),
        calc(6px * -1) calc(6px * -1)
        15px rgba(2 37 201/ 0.2);
        animation: spread;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0, 0.2, 0.8, 1);
        animation-iteration-count: infinite;
    }
    
    &__wave:nth-child(2) {
        animation-delay: -1s;
    }
    
    &__wave:nth-child(3) {
        animation-delay: -2s;
    }
    


    @keyframes spread {
        0% {
            width: 0;
            height: 0;
            opacity: 1;
        }
    
        100% {
            width: 200px;
            height: 200px;
            opacity: 0;
        }
    }

    &__bottom{
        display: flex;
        width: 350px;
        flex-direction: column;
        margin: 30px auto;
    }
    &__text{
        font-size: 14px;
        text-align: center;
        margin: 20px 0 3px 0;
    }
    &__title{
        height: 30px;
        font-weight: 600;
        font-size: 15px;
        border-radius: 10px 10px 0 0;
    }
    &__text-area{
        height: 60px;
        font-weight: 400;
        font-size: 14px;
        resize: none;
    }
    &_focus{
        border: none;
        outline: none;
        border-bottom: 2px solid grey;
        padding-left: 8px;
    }
    &_focus:focus{
        border-bottom: 2px solid #1593ce;
    }
    .error{
        border-bottom: 2px solid red;
    }
}