@import '../scss/reset.scss';
@import '../components/addNotice/AddNotice.scss';
@import '../components/cardNotice/CardNotice.scss';
@import '../components/editNotice/EditNotice.scss';
@import '../components/searchNotes/searchNotes.scss';
@import '../components/appHeader/appHeader.scss';
@import '../components/singUp/singUp.scss';
@import '../components/profile/profile.scss';

html{
    height: 100%;
}

body{
    position: relative;
    min-height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color:#C6D8FF;
}
